
.idea/misc.xml
.idea/modules.xml
.idea/SemidefiniteOptimization.iml
.idea/vcs.xml
.idea/workspace.xml
home_icon.png
.idea/inspectionProfiles/Project_Default.xml
e6e0e5ce-f464-407f-989c-2f17d3119cfc.jpg
test.txt
maxcut.sdpa
picture_recovery.sdpa
recovered_picture.sol
